.DS_Store
Docs/

# Kicad.
*.kicad_prl
*.kicad_sch-bak
Kicad/*/gerber/
Kicad/*/*-backups/
Kicad/*/fp-info-cache

# MplabX.
MplabX/*/build/
MplabX/*/debug/
MplabX/*/dist/
MplabX/*/nbproject/
MplabX/*/Makefile
