.DS_Store
Diptrace/
Docs/
*.kicad_prl
*.kicad_sch-bak
Kicad/*/gerber/
Kicad/*/*-backups/
Kicad/*/fp-info-cache

# XC16
#MplabX/XC16-P24FJ64GA106.X/main.c
MplabX/XC16-P24FJ64GA106.X/Makefile
MplabX/XC16-P24FJ64GA106.X/build/
MplabX/XC16-P24FJ64GA106.X/disassembly/
MplabX/XC16-P24FJ64GA106.X/dist/
MplabX/XC16-P24FJ64GA106.X/nbproject/
MplabX/XC16-P24FJ64GA106.X/.generated_files/
